.home {
  min-height: 100vh;
  background-color: hsl(0, 0%, 98%);
}
.home-container {
  padding: 0 80px;
}

/********/
.search-filter {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  
}

/**************/
.search-filter__input {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 350px;
  height: 50px;
  gap: 10px;
  box-shadow: 0px 0px 0.6px 0px;
}
.search-filter__input-field {
  outline: none;
  width: 95%;
}
.search-filter__icon {
  width: 20px;
  height: 20px;
  
}

/****region***/
.search-filter__region {
  width: 200px;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  position: relative;
}

.search-filter__region-select {
  width: 100%;
  background: white;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
}

/******/


